 html{
    height: 3000px;
    width: 2000px;
 }
 
 /* logo */

.logo{
    position: absolute;
    background-color: #ee0909;
    width: 33px;
    height: 25px;
    transform: rotate(60deg);

   

}

.one{
    background-color: rgb(255, 102, 0);
    top: 30px;
    left: 40px;
    border-radius: 45% 0;
}

.two{

    width: 20px;
    height: 40px;
    left:65px;
    top:30px;
    border-radius: 72% 0;

}

.logo-txt{
    left: 90px;
    top: 50px;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    color: rgb(255, 0, 0);
    
}

body{

    background-color: rgb(247, 247, 247);
    border: 0 0;
    padding: 0;
    margin: 0;

}

/* head */

.Head {

    display: flex;
    align-content: center;
    background-color: #323b57;
    width: auto;
    height: 500px;

}

.About{

    position: relative;
    left: 400px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 30px;
    gap: 160px;

    width: 700px;
    justify-content: center;
    font: bolder;
    font-size: 20px;

}

.Link{

    text-decoration: none;

}

.Link-font{

    color: white;

  

}

.Head-title{

    position: relative;
    left:300px;
    top: 110px;
    display: flex;
    height: 110px;
    width: 290px;
    color: white;


}

.Head-txt {

    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 80px;
    position: relative;
    top: 230px;
    left:50px;


}

.Head-button{
    position: relative;
    top: 350px;
    right:410px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 90px;
    border-radius: 20%;
    border: solid white;
}

.Button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 30px;
    text-decoration: none;
    color: black;
    font-size: larger;
   
}

.Head-img{

    background: url(./images/chill.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    top: 100px;
    left:800px;
    border: 2px solid white;
    height: 350px;
    width: 700px;

}

/* body */

.Body-head{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 5, 27);
    color: white;
    font-size: 40px;
    gap: 10px;
    letter-spacing: 9px;
    height: 100px;
    position: relative;
    margin: 0;
}

.Life{background-color: #F58A07;}
.Time{background-color: #F9AB55;}
.Enjoy{background-color: #909CC2;}

/* imgs */

.Body-imgs{

    position: relative;
    top: 100px;
    margin: 80px;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap:80px;
    list-style: none;
    height: 150px;
    width: auto;
    padding: 0;
 
}
.Border{
    border: 8px solid #F58A07;
    border-radius: 10%;
}

.Quotes {
    color: #0c1535;
    font-size: 20px;
    font-weight: bolder;
}

.Note{
    background-color:#323b57;
    border-top: 20px solid #F9AB55;
    border-bottom:20px solid #F9AB55;
    width: auto;
    height: 220px;
    position:relative;
    top: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Happy{
    color: white;
    letter-spacing: 25px;
}

.Sign-note{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #084887;
    height: 300px;
    width: 1200px;
    border: solid 10px lightblue;
    border-radius: 10%;
    position: absolute;
    top: 700px;
    left: 350px;
    position: relative;
}

.Sign-head{
    color: white;
    flex: 1 0 0;
    position: relative;
    left: 70px;
    bottom:50px;
    font-size: 50px;
}

.Sign-p{
    color: white;
    flex: 1 0 0;
    position: relative;
    right: 420px;
    top: 60px;
    font-size: 35px;
  
}

.Sign-button{

    display: flex;

   
    background-color: #084887;
    border: 3px solid white;
    border-radius: 10%;
    height: 80px;
    width: 250px;
    position: relative;
    right: 150px;
    margin:0 0;
 

}

.Sign-up{

    position: relative;
    top: 20px;
    color: white;
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-decoration: none;

}

.FINALY{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1535;
    width: auto;
    height: 200px;
    position: relative;
    top: 1000px;
}

.Anderson{
    color: white;font-size: 40px;
}